{%extends "base.html"%}
{%load templatefunctions%}

{%block content%}
<table class="table">
    <tr>
        <td><a href="/heatmap/price_longbuild">%price_chg Asc + long build</a></td>
            <td><a href="/heatmap/oi_longbuild">%OI_chg asc + Long Buildup </a></td>
                <td><a href="/heatmap/price_shortbuild">%price_chg Desc + Short build</a></td>
                    <td><a href="/heatmap/oi_shortbuild">%OI_chg Desc + Short Buildup</a></td>
        </tr>
</table>

<div class="row">
    {%for data in heatmapdf.data%}
    <div class="col-md-6 col-sm-6 col-lg-4">
    <div class="card" style="padding:2px;margin:3px;border:2px {{data.color}} solid !important;">
        <div class="card-title" style="width:100%;font-size:15px;font-weight:700;background:{{data.color}};color:#000;">
            <h6 style="text-align:center;padding:2px;">{{data.code}}</h6> 
            
        </div>
        <div class="card-header">
           <span class="badge bg-dark">{{data.MktCategory}}</span>
            <span class="badge bg-primary">{{data.Sector}}</span>
            <span class="badge bg-secondary">{{data.Industry}}</span>
        </div>
        <div class="card-body">
            
            
          
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                <th class="small">PRICE</th>
                <th class="small">OI</th>
                <th class="small"><a href="/heatmap/oi_change">OI CH.</a></th>
                <th class="small">ATM</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="small">{{data.current_price}} &nbsp;&nbsp;({{data.current_change|floatformat:2}}%)</td>
                    <td class="small">{{data.oi}}</td>
                    <td class="small">{{data.oi_change|floatformat:2}}%</td>

                    <td class="small" style="color:blue">{{data.atm|floatformat:0}}</td>
                </tr>
            </tbody>
            </table>
           

            <table class="table table-striped table-sm" style="font-size:11px;!important">
                <thead>
                <tr class="small">
                    <th>CITM4</th>
                    <th>CITM3</th>
                    <th>CITM2</th>
                    <th>CITM1</th>
                    
                    <th>ATM</th>
                    <th>PITM1</th>
                    <th>PITM2</th>
                    <th>PITM3</th>
                    <th>PITM4</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{data.citm4|floatformat:0}}</td>
        <td>{{data.citm3|floatformat:0}}</td>
        <td>{{data.citm2|floatformat:0}}</td>
        <td>{{data.citm1|floatformat:0}}</td>
        <td style="color:blue">{{data.atm|floatformat:0}}</td>
        <td>{{data.pitm1|floatformat:0}}</td>
        <td>{{data.pitm2|floatformat:0}}</td>
        <td>{{data.pitm3|floatformat:0}}</td>
        <td>{{data.pitm4|floatformat:0}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            
            {%if "Long" in data.builtup_str%}
            <span class="badge rounded-pill bg-success text-light">{{data.builtup_str}}</span>
            {%else%}
            <span class="badge rounded-pill bg-danger text-light">{{data.builtup_str}}</span>
            {%endif%}

            
            <span style="font-size:10px;">{{data.NiftyRank}} | {{data.IntraSectorRank}}</span>
            
        </div>
    </div>    
    </div>
    {%endfor%}
</div>    
{%endblock%}